body {
    font-family: 'Source Sans Pro', sans-serif;
    /* background-color: #f7f6f5; */
    background-color: #f7f5f7;
}

header {
    background-color: transparent;
}

.container.nav {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

h1 {
    text-align: left;
    display: block;
    text-transform: uppercase;
    font-family: 'Gotu', sans-serif;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 600;
}

.container.body {
    margin-top: 3rem;
}

.btn {
    border-bottom: 1.5px solid #dbd2c6;
    font-family: 'Gotu', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.btn-primary {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px;
    border-radius: 3px;
    border-color: #a09f9d;
    border: 2px solid #a09f9d;
    background-color:#a09f9d;
    color:white;
}

.btn-primary:hover {
    background-color: #efdfcb;
    border: 2px solid #dbd2c6;
    color:#94a6b3;
    /* background-color: #dfb429;
    border: 2px solid #dfb429; */
}

.main {
    margin-bottom: 3rem;
    /* background-color: #b0d8da; */
    /* background-color: #94a6b3; */
    background: linear-gradient(to bottom right, #bcd3dd 16%, #efe6dc 100%);
}

.card-body {
    padding-left: 2.5rem;
}

h2 {
    margin-top: 2rem;
    font-family: 'Gotu', sans-serif;
    font-weight: 600;
}

#temperature {
    font-size: 70px;
}

.table {
    margin-bottom: 5rem;
}

tr {
    background-color: white;
}

.table thead th {
    border-bottom: 2px solid #dbd2c6;
    border-top: 2px solid #dbd2c6;
    /* border-bottom: 2px solid #d6ad29;
    border-top: 2px solid #d6ad29; */
}

.table tbody th,
td {
    border-bottom: 2px solid #dbd2c6;
    border-top: 2px solid #dbd2c6;
    /* border-top: 2px solid #d6ad29;
    border-bottom: 2px solid #d6ad29; */
}

.btn-block {
    background-color: white;
}

.btn-block:hover {
    background-color: #dbd2c6;
}

img {
    width: 35%;
    float: right;
    padding-right: 2rem;
    padding-bottom: 1rem;
}